{% extends 'base.html.twig' %}
{% block title %}Une recette
{% endblock %}

{% block stylesheets %}
	<style>

		{{parent()}}
		.recette-details {
			background-color: #ffffff;
			padding: 20px;
			margin: 20px auto; /* Ajout de la marge verticale et centrage horizontal */
			width: 60%; /* Ajustement de la largeur du container */
			border-radius: 10px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

		.table th {
			background-color: #f8f9fa;
		}

		.recette-photo {
			max-width: 400px;
			max-height: 400px;
			object-fit: cover;
		}
		.empty-container {
			background-color: #f8f9fa;
			height: 200px; /* Ajustez la hauteur selon vos besoins */
			/* Ajoutez d'autres styles personnalisés si nécessaire */
		}
	</style>
{% endblock %}


{% block body %}

	{{ include('navbar/admin.html.twig') }}
	<div>

		<div class="recette-details">

			<h1>Recette</h1>
			<table class="table">

				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ dbara_recette.id }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ dbara_recette.nom }}</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{{ dbara_recette.description }}</td>
					</tr>
					<tr>
						<th>Préparation</th>
						<td>{{ dbara_recette.preparation }}</td>
					</tr>
					<tr>
						<th>Temps de préparation</th>
						<td>{{ dbara_recette.tempspreparation }}</td>
					</tr>
					<tr>
						<th>Ingrédients</th>
						<td>{{ dbara_recette.ingredients }}</td>
					</tr>
					<tr>
						<th>Nombre d'ingredients</th>
						<td>{{ dbara_recette.nombreingredients }}</td>
					</tr>
					<tr>
						<th>Température</th>
						<td>{{ dbara_recette.temperature }}</td>
					</tr>
					<tr>
						<th>Photo</th>
						<td>
							{% if dbara_recette.photo %}
								<img src="{{ asset('uploads/recette_photos/' ~ dbara_recette.photo) }}" alt="Photo du recette" class="recette-photo">
							{% else %}
								Aucune photo disponible
							{% endif %}
						</td>
					</tr>

				</tbody>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_recette_index') }}" class="btn btn-primary">Retour à la liste</a>

	<a href="{{ path('app_recette_edit', {'id': dbara_recette.id}) }}" class="btn btn-secondary">Modifier</a>

	{{ include('recette/_delete_form.html.twig') }}
</div></div>{{ include('footer/admin.html.twig') }}<div class="empty-container"></div>{% endblock %}
