{% extends 'base.html.twig' %}

{% block title %}Ajouter une recette Dbara
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.new-live-page {
			background-color: #ffffff;
			padding: 20px;
			margin: 20px auto;
			width: 60%;
			border-radius: 10px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

		.new-live-page form {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.new-live-page label {
			margin-bottom: 10px;
		}

		.new-live-page input[type="text"],
		.new-live-page input[type="email"],
		.new-live-page input[type="tel"],
		.new-live-page input[type="file"] {
			padding: 70px;
			margin-bottom: 20px;
			border: 1px solid #dddddd;
			border-radius: 5px;
		}

		.new-live-page button {
			background-color: #007bff;
			color: #ffffff;
			border: none;
			padding: 10px 20px;
			border-radius: 5px;
			transition: background-color 0.3s;
		}

		.new-live-page button:hover {
			background-color: #0056b3;
		}

		.new-live-page a {
			color: #007bff;
			text-decoration: none;
			margin-top: 10px;
		}

		.padding-large {
			padding: 20px;
		}

		.empty-container {
			background-color: #f8f9fa;
			height: 200px;
		}

		.form-table {
			display: table;
			width: 100%;
		}

		.form-row {
			display: table-row;
		}

		.form-cell {
			display: table-cell;
			padding: 10px;
		}
	</style>
{% endblock %}

{% block body %}
	{{ include('navbar/admin.html.twig') }}

	<div class="new-live-page">
		<h1>Ajouter une nouvelle Dbara vidéo</h1>

		{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
		<div class="form-table">
			<div class="form-row">
				<div class="form-cell">
					{{ form_label(form.titre) }}
				</div>
				<div class="form-cell">
					{{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					{{ form_label(form.video, 'URL de la vidéo') }}
				</div>
				<div class="form-cell">
					{{ form_widget(form.video, {'attr': {'class': 'form-control', 'placeholder': 'Enter video URL'}}) }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					{{ form_label(form.invite) }}
				</div>
				<div class="form-cell">
					{{ form_widget(form.invite, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					{{ form_label(form.chef) }}
				</div>
				<div class="form-cell">
					{{ form_widget(form.chef, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell" colspan="2">
					<button class="btn">{{ button_label|default('Enregistrer') }}</button>
				</div>
			</div>
		</div>
		{{ form_end(form) }}

		<a href="{{ path('app_dbaralive_index') }}">Retour</a>

	</div>
	{{ include('footer/admin.html.twig') }}
	<div class="empty-container"></div>
{% endblock %}
